@model FarmaciaWeb.Models.login
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-5">
    <div class="col-12 text-center">
        <img src="~/Content/Imgs/logo1.png" class="img-fluid" />
    </div>
</div>

<div class="row">
    <div class="col-8 offset-2">
        <form action="/Login/CheckLogin" method="post">
            <div class="card">
                <div class="card-header">
                    <h1 class="m-0">Iniciar Sesión</h1>
                </div>
                <div class="card-body py-5">
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">
                                <label>Nombre de usuario:</label>
                                @Html.TextBoxFor(x => x.usuario, htmlAttributes: new { @class = "form-control form-control-solid" })
                                @Html.ValidationMessageFor(x => x.usuario, "", htmlAttributes: new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Contraseña:</label>
                                @Html.PasswordFor(x => x.contrasenia, htmlAttributes: new { @class = "form-control form-control-solid" })
                                @Html.ValidationMessageFor(x => x.contrasenia, "", htmlAttributes: new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-4 offset-1">
                            <img src="~/Content/Imgs/security.svg" class="img-fluid" />
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <a href="@Url.Action("Index","Registro")" class="btn btn-light rounded-pill mx-2">Registrarme como cliente</a>
                    <button type="submit" class="btn btn-success rounded-pill">Ingresar <i class="fal fa-arrow-right ml-4"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

