
@{
    ViewBag.Title = "TipoMedicamentos";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-4 align-self-center"><h1 class="m-0">Tipo de medicamentos</h1></div>
                    <div class="col-4 offset-2">
                        <div class="input-group input-group-joined input-group-solid">
                            <input class="form-control pe-0" type="text" placeholder="Buscar..." aria-label="Search">
                            <span class="input-group-text border-0">
                                <i class="fal fa-search"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <a href="#" onclick="modalForm()" class="btn btn-success rounded-pill btn-block">Nuevo Tipo</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Id</th>
                        <th>Tipo de medicamento</th>
                        <th>Descripción</th>
                        <th>Fecha de expedición</th>
                        <th>Fecha de vencimiento</th>
                        <th>Opciones</th>
                    </tr>
                    @foreach (FarmaciaWeb.Models.tipo_medicamento pro in ViewBag.TipoMedicamentos)
                    {
                        <tr>
                            <td>@pro.id_tipo_medicamento</td>
                            <td>@pro.tipo_medicamento1</td>
                            <td>@pro.descripcion</td>
                            <td>@pro.fecha_expedicion</td>
                            <td>@pro.fecha_vencimiento</td>
                            <td>
                                <a href="#" onclick="modalEliminar(@pro.id_tipo_medicamento)" class="btn btn-icon btn-light btn-sm"><i class="far fa-trash-alt"></i></a>
                                <a href="#" onclick="modalForm(@pro.id_tipo_medicamento, '@pro.tipo_medicamento1' , '@pro.descripcion' ,'@pro.fecha_expedicion','@pro.fecha_vencimiento')" class="btn btn-icon btn-light btn-sm"><i class="far fa-edit"></i></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    
    <script>

        function modalForm($id, $a, $b, $c, $d) {

            $id = ($id == null) ? "" : $id;
            $a = ($a == null) ? "" : $a;
            $b = ($b == null) ? "" : $b;
            $c = ($c == null) ? "" : $c;
            $d = ($d == null) ? "" : $d;
            $modaltitle = ($id == "") ? "Nuevo tipo" : "Modificar Tipo";
            $modalbtn = ($id == "") ? "Agregar" : "Modificar";

            $formhtml = "<div class='row py-4'><div class='col-12'>";
            $formhtml += "<div class='form-group text-left'><label>Tipo de medicamento:</label><input type='text' id='input_1' class='form-control' value='" + $a + "' /></div>";
            $formhtml += "<div class='form-group text-left'><label>Descripción:</label><input type='text' id='input_2' class='form-control' value='" + $b + "' /></div>";
            $formhtml += "<div class='form-group text-left'><label>Fecha Expedición:</label><input type='date' id='input_3' class='form-control' value='" + $c + "' /></div>";
            $formhtml += "<div class='form-group text-left'><label>Fecha Expiración:</label><input type='date' id='input_4' class='form-control' value='" + $d + "' /></div>";
            $formhtml += "</div></div>";


            Swal.fire({
                title: $modaltitle,
                html: $formhtml,
                showCancelButton: true,
                showCloseButton: true,
                confirmButtonText: $modalbtn,
                confirmButtonColor: "#00ac69",
                preConfirm: () => {

                    $tipo = $("#input_1").val();
                    $descripcion = $("#input_2").val();
                    $expedicion = $("#input_3").val();
                    $expiracion = $("#input_4").val();

                    if ($id == "") {
                        agregar($tipo, $descripcion, $expedicion,$expiracion);
                    } else {
                        modificar($id, $tipo, $descripcion, $expedicion, $expiracion);
                    }
                }
            });
        }

        function agregar($a, $b, $c, $d) {
            $.ajax({
                type: 'POST',
                url: '/Dashboard/InsertarTipoMedicamento/',
                data: { tipo: $a, descripcion: $b, expedicion: $c, expiracion: $d },
                success: function (agregado) {
                    if (agregado) {
                        Swal.fire(
                            'Realizado!',
                            'Nuevo tipo de medicamento agregado',
                            'success'
                        ).then(() => {
                            location.reload();
                        })
                    } else {
                        Swal.fire(
                            'Error!',
                            'No se pudo agregar el nuevo tipo de medicamento',
                            'error'
                        )
                    }
                }
            });
        }

        function modificar($id, $a, $b, $c, $d) {
            $.ajax({
                type: 'POST',
                url: '/Dashboard/ModificarTipoMedicamento/',
                data: { id: $id, tipo: $a, descripcion: $b, expedicion: $c, expiracion: $d },
                success: function (agregado) {
                    if (agregado) {
                        Swal.fire(
                            'Realizado!',
                            'Tipo de medicamento actualizado',
                            'success'
                        ).then(() => {
                            location.reload();
                        })
                    } else {
                        Swal.fire(
                            'Error!',
                            'No se pudo modificar el tipo de medicamento',
                            'error'
                        )
                    }
                }
            });
        }


        function modalEliminar($id) {
            Swal.fire({
                icon: "question",
                title: "Eliminar este tipo de medicamento",
                showCancelButton: true,
                showCloseButton: true,
                confirmButtonText: "Confirmar",
                confirmButtonColor: "#e81500",
                preConfirm: () => {
                    eliminar($id);
                }
            });
        }

        function eliminar($id) {
            $.ajax({
                type: 'POST',
                url: '/Dashboard/EliminarTipoMedicamento/',
                data: { id: $id },
                success: function (agregado) {
                    if (agregado) {
                        Swal.fire(
                            'Realizado!',
                            'Tipo de medicamento eliminado',
                            'success'
                        ).then(() => {
                            location.reload();
                        })
                    } else {
                        Swal.fire(
                            'Error!',
                            'No se pudo eliminar el tipo de medicamento',
                            'error'
                        )
                    }
                }
            });
        }

    </script>
    
}

